
@{
    // Model is ProductReadVM (single product)
}
@model ProductReadVM

<a href="~/Product" class="btn btn-outline-secondary mb-4">
    Back to Products
</a>
       @* <i class="bi bi-box-seam" style="font-size: 2rem; color: #6c5ce7;"></i>  *@
            
<h1 class="text-uppercase text-center mb-5" style="background:  linear-gradient(135deg, white 0%, black 100%);background-clip: text; -webkit-background-clip: text; color: transparent; font-weight: 800; letter-spacing: 2px;">
    Product Details
</h1>
<partial name="_ProductDetailsPartial" />